<div class="jumbotron text-center">
  <h1>Realtime Check-in App</h1>
</div>

<div id="attendee-form" class="row">
  <div class="col-sm-8 col-sm-offset-2 text-center">

    <form class="form-horizontal" role="form">
      <input type="text" ng-model="selectedAttendee" placeholder="Start typing a name!" typeahead="attendee as attendee.fullName for attendee in attendees | filter:$viewValue | limitTo:8" class="form-control">
      <br />
      <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="checkIn(selectedAttendee)">Check-in</button>
      <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="addNew()">New</button>
    </form>

    <br />

  </div>
</div>

<div class="alert alert-success alert-dismissible" role="alert" ng-repeat="checkinMessage in checkinMessages">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <div ng-if="checkinMessage.checkedIn">
      <strong>New Check-in!</strong> {{ checkinMessage.firstName }} {{ checkinMessage.lastName }} has checked in!
    </div>
    <div ng-if="!checkinMessage.checkedIn">
      <strong>New Check-out!</strong> {{ checkinMessage.firstName }} {{ checkinMessage.lastName }} has checked out!
    </div>
</div>
