<div class="jumbotron text-center">
  <h1>Realtime Check-in App</h1>
</div>

<alert ng-repeat="checkinMessage in checkinMessages" type="success" close="closeMessage($index)">
  <div ng-if="checkinMessage.checkedIn">
    <strong>New Check-in!</strong> {{ checkinMessage.firstName }} {{ checkinMessage.lastName }} has checked in!
  </div>
  <div ng-if="!checkinMessage.checkedIn">
    <strong>New Check-out!</strong> {{ checkinMessage.firstName }} {{ checkinMessage.lastName }} has checked out!
  </div>
</alert>
